<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" data-product-id="<%= @product.id %>">

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<%= form_tag "/payments/create" do %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render 'new_comment' %>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<%= render 'comments' %>

<%= will_paginate @comments %>

</div> <!-- end row -->
</div> <!-- end container -->

